#root {
        margin: 0;
        padding: 2rem;
        text-align: center;
        color: black;
}

        .heading{
                margin: 0px;
                
        }
      
        .product-cards{
                display: flex;
                flex-flow: row wrap;

        .product-card{
                border-radius: 15px;
                background-color: white;
                margin: 25px auto;
                width: 400px;
                height: 600px;
                border:rgba(#000, .2);

                .product-card-img{
                        margin: 25px auto 0px auto;
                        width: 350px;
                        height: 350px;
                        border-radius: 15px;

                        .product-card-img-div{
                                width: 350px;
                                height: 350px; 
                        }
                }

                .product-card-header{
                        font-size: 60px;
                        text-align: left;
                        margin: 0px 0px 0px 25px;
                }

                .product-card-subtext{
                        font-size: 20px;
                        text-align: left;
                        margin: 0px 0px 0px 25px;
                        color: #4b4646;
                }

                .product-card-price-button-container{
                        display: flex;
                        flex-direction: row;

                        .product-card-price-button-container-button{
                                margin: auto auto auto 25px;
                                width: 200px;
                                height: 90px;
                                font-size: 20px;
                        }

                        .product-card-price-button-container-button:hover{
                                background-color: white;
                                color: black;
                                border: 5px solid black;
                                font-size:30px;
                                transition: .2s;
                        }

                        .product-card-price-button-container-price{
                                font-size: 40px;
                                margin: auto 25px auto 0px;
                        }
                }
        }      
      }

      .product-card-popup{
        border-radius: 15px;
        background-color: white;
        margin: 25px auto;
        width: 1000px;
        height: 600px;
        border:rgba(#000, .2);
        display: flex;
        flex-direction: row;

        .product-card-popup-left-container{

                .product-card-popup-img{
                        width:400px;
                        height: 400px;
                        background: #000;
                        margin: 50px 50px 0px 50px;
                }

                .product-card-popup-right-container-product-name{
                        text-align: left;
                        margin: 0px 0px 0px 50px;
                        
                }

                .product-card-popup-right-container-product-id{
                        text-align: left;
                        margin: 0px 0px 0px 50px;
                        color: gray;
                }
        }

        .product-card-popup-right-container{
                width: 500px;
                height: 600px;

                .product-card-popup-right-container-product-colors{
                        text-align: left;

                        .product-card-popup-right-container-product-colors-div{
                                display: flex;
                                flex-direction: row;
                                margin: 0px auto 0px auto;

                                .product-card-popup-right-container-product-colors-circle1{
                                        border: 3px solid black;
                                        border-radius: 50%;
                                        width:50px;
                                        height:50px;
                                        background-color: brown;
                                        margin: 0 25px;
                                }

                                .product-card-popup-right-container-product-colors-circle2{
                                        border: 3px solid black;
                                        border-radius: 50%;
                                        width:50px;
                                        height:50px;
                                        background-color: black;
                                        margin: 0 25px;
                                }

                                .product-card-popup-right-container-product-colors-circle3{
                                        border: 3px solid black;
                                        border-radius: 50%;
                                        width:50px;
                                        height:50px;
                                        background-color: rgb(11, 11, 104);
                                        margin: 0 25px;
                                }

                                .product-card-popup-right-container-product-colors-circle4{
                                        border: 3px solid black;
                                        border-radius: 50%;
                                        width:50px;
                                        height:50px;
                                        background-color: rgb(214, 104, 15);
                                        margin: 0 25px;
                                }
                        }
                }

                .product-card-popup-right-container-product-description{
                        text-align: left;
                        margin: 25px 10px;
                }

                .product-card-popup-right-container-product-qr{

                        .qr-heading{
                                font-size: 20px;
                        }

                        .qr-code{
                                width:200px;
                                height: 200px;
                                background-color: #000;
                                margin: 0px auto;
                        }

                }
        }

        

      }

.footer{
        .footer-h1{
                font-size: 25px;
                color: silver;
        }
}
      
      
      
      
      
      

      
      
      
      
      
      